#thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px;
} 

#thank-you .thank-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#thank-you h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 14px;
    font-size: 25px;
    font-weight: bold;
}

.thank-body{
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    align-items: center;
    justify-content: center;


}

@media only screen and (max-width: 768px) {





}





